.App{
  text-align: center;
}

.btn-wrapper button {
  background-color: red;
  border: 1px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}

.img-wrapper img{
  width: 100px;
  margin-top: -5px;
}


.cart-wrapper {
  height: 100PX;
  width: 500px;
  border: 1px solid #000;
  margin-left: 5%;
  border-radius: 5px;
}



.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.add-to-cart img{
  width: 80px;
  right: 1%;
  top: 1%;
  position: absolute;

}

.cart-count {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;

}

